:root {
	/* Base */
	--black: #222;
	--white: #eee;
	--light_grey: #ddd;
	--middle_grey: #999;

	/* Fonts / Typeography */
	--font-size-xs: clamp(0.6rem, 0.17vw + 0.76rem, 0.7rem);
	--font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
	--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
	--font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
	--font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
	--font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
	--font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3rem);
	--font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

	--brad: 4px;

	--shadow-strength: 10%;
	--shadow-color: 220 40% 2%;
	--shadow: 0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
		0 3px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
		0 7px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
		0 12px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
		0 22px 18px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
		0 41px 33px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%)),
		0 100px 80px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));

	--shadow-upwards: 0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
		0 -3px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
		0 -7px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
		0 -12px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
		0 -22px 18px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
		0 -41px 33px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%)),
		0 -100px 80px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));

	--level1: 0 100px 80px rgb(0 0 0 / 7%), 0 41.78px 33.4px rgb(0 0 0 / 5%),
		0 22.32px 17.87px rgb(0 0 0 / 4.17%), 0 12.52px 10.02px rgb(0 0 0 / 3.5%),
		0 6.65px 5.32px rgb(0 0 0 / 2.83%), 0 2.77px 2.21px rgb(0 0 0 / 1.97%);
	--level_flat: 0;
	--level_0: inset 0 7px 9px -7px rgb(0 0 0 / 70%);
	--level_1: 0 4px 10px rgb(0 0 0 / 15%);
	--level_2: 0 6px 12px rgb(0 0 0 / 15%);
	--level_3: 0 10px 20px rgb(0 0 0 / 15%);
	--level_4: 0 14px 28px rgb(0 0 0 / 15%);
	--level_5: 0 19px 38px rgb(0 0 0 / 15%);

	/* Theme */
	--fg_light: oklch(100% 0 0 / 90%);
	--fg_dark: oklch(0 0 0 / 70%);

	--tint: oklch(100% 0 0 / 80%);
	--shade: oklch(0 0 0 / 10%);

	--green: #a0dcc8;
	--red: #ff3b30;
	--blue: #0001fb;
	/* green: */
	--bg: var(--white);
	--bg_1: var(--light_grey);
	--bg-sheet: var(--white);

	/* Foreground */
	--fg: var(--fg_dark);
	--fg-1: var(--black-8);
	--fg-sheet: var(--black);
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: var(--black);
		--fg: var(--white);
		--tint: oklch(100% 0 0 / 20%);
		--shade: oklch(0 0 0 / 20%);
	}
}

@font-face {
	font-family: 'MD IO';
	src:
		url('/fonts/MDIO-Regular.woff2') format('woff2'),
		url('/fonts/MDIO-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MD IO';
	src:
		url('/fonts/MDIO-Black.woff2') format('woff2'),
		url('/fonts/MDIO-Black.woff') format('woff');
	font-weight: 900; /* Black */
	font-style: normal;
}

@font-face {
	font-family: 'MD IO';
	src:
		url('/fonts/MDIO-Bold.woff2') format('woff2'),
		url('/fonts/MDIO-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'MD IO';
	src:
		url('/fonts/MDIO-BoldItalic.woff2') format('woff2'),
		url('/fonts/MDIO-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'MD IO';
	src:
		url('/fonts/MDIO-BlackItalic.woff2') format('woff2'),
		url('/fonts/MDIO-BlackItalic.woff') format('woff');
	font-weight: 900; /* Black */
	font-style: italic;
}

@font-face {
	font-family: 'MD IO';
	src:
		url('/fonts/MDIO-Medium.woff2') format('woff2'),
		url('/fonts/MDIO-Medium.woff') format('woff');
	font-weight: 500; /* Medium */
	font-style: normal;
}

@font-face {
	font-family: 'MD IO';
	src:
		url('/fonts/MDIO-MediumItalic.woff2') format('woff2'),
		url('/fonts/MDIO-MediumItalic.woff') format('woff');
	font-weight: 500; /* Medium */
	font-style: italic;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'MD IO', sans-serif;
	font-weight: 200;
	overflow-x: hidden;
	background: var(--bg);
	color: var(--fg);
	line-height: 1.5;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

@property --lines {
	syntax: '<length>';
	inherits: false;
	initial-value: 0.00009px;
}

body::after {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	/* background-image: url('/noise.png'); */
	background-repeat: repeat;
	background-size: auto;

	pointer-events: none;
	z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	margin-block: 0.2em;
	line-height: 1.4;
	font-style: italic;
	text-wrap: balance;
}

h1,
.h1 {
	font-size: var(--font-size-xl);
}
h2,
.h2 {
	font-size: var(--font-size-xl);
}
h3,
.h3 {
	font-size: var(--font-size-xl);
}
h4,
.h4 {
	font-size: var(--font-size-lg);
}
h5,
.h5 {
	font-size: var(--font-size-md);
}

.h6,
h6,
p,
li {
	font-size: var(--font-size-base);
}

button {
	cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

input {
	padding: 2px 10px;
	border-radius: 4px;
	border: solid 1px var(--middle_grey);
	color: var(--fg);
	background: var(--bg);
}

input:focus {
	border: solid 1px #0001fb;
}

a {
	color: var(--fg);
}

.button {
	box-shadow:
		2px 2px 5px rgba(0, 0, 0, 0.1),
		1px 1px 3px rgba(0, 0, 0, 0.3),
		2px 2px 5px rgba(255, 255, 255, 0.1) inset,
		1px 1px 2px rgba(255, 255, 255, 0.3) inset;
	border-radius: var(--brad);
	position: relative;
	background: #0001fb;
	color: var(--fg_light);
	border: solid 1px #0001fb;
	padding: 2px 10px;
	text-shadow: 0.5px 1px 1px rgba(0, 0, 0, 0.2);
	outline: solid 1px black;
	font-style: italic;
	font-weight: medium;
}

.close {
	background: var(--red);
	outline: solid 1px var(--red);
	border: solid 1px var(--red);
	color: var(--black);
}

.ghost {
	transition: 0.3s ease background;
	background: transparent;
	color: var(--fg);
	border: solid 1px var(--tint);
}

.ghost:hover {
	background: var(--tint);
}

.button::after {
	content: '';
	position: absolute;
	inset: 0;
	mix-blend-mode: multiply;
	opacity: 0.1;
	background-image: linear-gradient(-45deg, #000, #fff);
}

.row {
	margin-bottom: 1rem;
}

.error {
	color: var(--red);
}

.form {
	padding: 20px;
	margin-bottom: 2rem;
	border-radius: var(--brad);
	border: solid 1px #999;
}

label {
	font-size: 12px;
	font-style: italic;
	display: block;
}

.note {
	font-size: 12px;
}

@media (prefers-color-scheme: dark) {
	body::after {
		opacity: 0.05;
	}
}
